.btn-submit {
    background-color: #002E5F;
  color: white;
}
.main-div{
  width: 50%;
  padding: 13%;
  margin-left: 10%;
}

.content-div{
  padding-left: 33%;
  line-height: 4;
}
.title-class{
  padding-left: 33%;
}