<div>
  <button mat-button class="btn-add" (click)="addnewitem()">
    <mat-icon>add</mat-icon>Add Item
  </button>
</div>

<div>
  <table mat-table [dataSource]="listdata" class="main-table">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="tableheadertext"> <b>Name</b> </th>
      <td mat-cell *matCellDef="let element" > 
        <span (click)="getitemdetails(element)" style="cursor: pointer;">
          {{element.name}}
      </span> </td>
    </ng-container>

     <!-- Price Column -->
      <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef class="tableheadertext"> <b>Price</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.price | currency}} </td>
    </ng-container>

     <!-- Image Column -->
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="tableheadertext"> <b>Image</b> </th>
      <td mat-cell *matCellDef="let element"> <img [src]="getphoto(element)" />
      </td>
    </ng-container>

     <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="tableheadertext"> <b>Description</b> </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

     <!-- Delete Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="tableheadertext"> <b>Delete</b> </th>
      <td mat-cell *matCellDef="let index = index;">
        <button mat-button (click)="deleterowitem(index)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>


<div *ngIf="listdata.length==0" class="no-records">No records found.</div>